
<app-header></app-header>

@if(pokemon$ | async; as pokemon){

<div class="flex" style="padding: 3rem">


<div class="pokemonBox">
  <img class="pokemonImg" src="{{pokemon.sprites.front_default}}">
</div>

<div class="infoBox">
  <p class="pokemonName">{{ pokemon.name }}</p>
  <div class="flex">
  <div class="infoLeft">
  <p class="headline">Height</p>
  <p>{{ pokemon.height/10 }} m</p>
  <p class="headline">Weight</p>
  <p>{{pokemon.weight/10}} Kg</p>
  </div>
  <div class="infoRight">
    <p class="headline">Ability</p>
    <p>{{pokemon.abilities[0].ability.name}}</p>
  </div>
    <div class="types">
      <p class="headline">Types</p>
      @for ( pokemontype of pokemon.types; track pokemontype){
        <p class="{{pokemontype.type.name}}">{{pokemontype.type.name}}</p>
      }
    </div>
  </div>
</div>

</div>

}
